{% extends 'base.html' %}

{% block header %}about page{% endblock header %}

{% block body %}
<main>
    <section>
        <h2>- Who am I?</h2>
        <p>A young (HS) programmer looking to improve their skills enough to not need to go waste money in University.</p>
    </section>
    <section>
        <h2>- What do I do?</h2>
        <p>I study programming, mostly, and play games some times. What I study depends a lot on the day, sometimes I study systems programming, sometimes I study web development (most of the time), sometimes I study game development!</p>
    </section>
    <section>
        <h2>- What do I want to do?</h2>
        <p>I want to learn and work with Web Development, hopefully in a field like freelancing, if I can</p>
    </section>
    <section>
        <h2>- I saw your Discord profile picture. Are you gay?</h2>
        <p>No.</p>
    </section>
</main>
{% endblock body %}
