{% extends 'base.html' %}

{% block header %}about page{% endblock header %}

{% block body %}
<main>
    <section>
        <h2>- Who am I?</h2>
        <p>Consectetur blanditiis atque ipsum voluptatibus officiis. Eaque animi labore odit deleniti possimus Laudantium alias cum inventore voluptatibus magnam fugiat Velit quas est vero voluptatem dolorum Consequuntur consequatur eveniet tempora facilis</p>
    </section>
    <section>
        <h2>- What do I do?</h2>
        <p>Dolor unde error tempora quasi suscipit Alias necessitatibus praesentium cupiditate ipsum praesentium numquam Soluta aut natus ab deleniti minima corrupti Hic nulla doloribus dolore consequuntur voluptate, officia repudiandae. Nostrum vero?</p>
    </section>
    <section>
        <h2>- What do I want to do?</h2>
        <p>Dolor sint distinctio ad doloribus non voluptas illum Deleniti voluptatem quas accusantium voluptates cum, iusto Neque omnis tenetur culpa et culpa, distinctio Est sint molestiae tenetur magnam ex sequi sapiente.</p>
        
    </section>
    <section>
        <h2>- Contact me</h2>
        <p>Dolor doloribus amet cum reiciendis tempora, debitis Iste iste ea vel quod beatae alias. Consequuntur soluta perspiciatis illo sequi consequatur. Dignissimos optio mollitia ratione quaerat commodi. Tempore itaque dolor iure</p>
    </section>
</main>
{% endblock body %}
