{% extends 'base.html' %}

{% block header %}about page{% endblock header %}

{% block body %}
    <section class="st">
        <h2>who are you?</h2>
        <p>a young (hs) programmer looking to improve their skills to a point where they can safely skip university.</p>
    </section>
    <section class="st">
        <h2>what do you do?</h2>
        <p>i study programming, mostly, and play games sometimes. what i study depends a lot on the day. sometimes i study systems programming, sometimes i study web development (most of the time), sometimes i study game development, and sometimes i study ai/ml.<br>right now, at this moment, i am working towards being able to start freelancing.</p>
    </section>
    <section class="st">
        <h2>what do you want to do?</h2>
        <p>i want to learn and work with web development, hopefully well enough that i have a comfortable life.</p>
    </section>
    <section class="st">
        <h2>i saw your discord profile picture. are you gay?</h2>
        <p>no.</p>
    </section>
    <section class="st">
        <h2>why is your website so ugly?</h2>
        <p>i'm not a web designer.</p>
    </section>
    <section class="st">
        <h2>why are you using a monospace font?</h2>
        <p>most people i know do it, and since i want to be a cool kid, i do it too.</p>
    </section>
    <section class="st">
        <h2>what's with your "logo" thing?</h2>
        <p>i wanted a cool profile picture so i booted up krita and started drawing one of my favorite things: cats. i drew something that looked like the picture you're seeing on the top-right corner and thought it was pretty cool, so i "polished" it and added a cute little face.</p>
    </section>
    <section class="st">
        <h2>why is everything lowercase?</h2>
        <p>i like it!</p>
    </section>
{% endblock body %}
