{% extends 'base.html' %}

{% block header %}posts{% endblock header %}

{% block body %}
    {% if g.nicey %}
    <form class='new-post' method="post">
        <h2>new post</h2>
        <label for="title">title</label>
        <input id="title" type="text" name="title" required>
        <label for="body">body</label>
        <textarea id="body" name="body" cols=30 rows=10 required></textarea>
        <button>post</button>
    </form>
    {% endif %}
    <section class="posts">
        {% for post in posts %}
        <article class="post">
            <h2>{{ post["title"] }}</h2>
            <p>
                {% for line in post["body"].split('breakline') %}
                    {{ line }}<br>
                {% endfor %}
            </p>
            <section>
                <form class="delete" action="delete" method="post">
                    <input name="pid" type="hidden" value="{{ post["pid"] }}">
                    <button>[del]</button>
                </form>
                <div>{{ post["dt"].date() }}</div>
            </section>
        </article>
        <br>
        {% endfor %}
    </section>
{% endblock body %}
