{% extends 'base.html' %}

{% block header %}projects{% endblock header %}

{% block body %}
<main>
    <section>
        <h2>- <a href="https://github.com/nicey0/wireworld">Wireworld</a></h2>
        <p>Simple wireworld implementation in made Python+Pillow</p>
    </section>
    <section>
        <h2>- <a href="https://github.com/nicey0/tui-snake">tui-snake</a></h2>
        <p>Simple Snake clone made in Python+ncurses</p>
    </section>
    <section>
        <h2>- <a href="https://github.com/nicey0/tui-tetris">tui-tetris</a></h2>
        <p>Simple tetris clone made in Python+ncurses [UNFINISHED]</p>
    </section>
    <section>
        <h2>- <a href="https://github.com/nicey0/simple-vi-clone">simple-vi-clone</a></h2>
        <p>Simple Vi clone made in Python+ncurses</p>
    </section>
    <section>
        <h2>- <a href="https://github.com/nicey0/ConwaysGameOfLife">ConwaysGameOfLife</a></h2>
        <p>Simple ConwaysGameOfLife implementation made in Python+Pillow</p>
    </section>
    <section>
        <h2>- <a href="https://github.com/nicey0/spiderbook">spiderbook</a></h2>
        <p>Shitty website "made" in Flask (PG18+)</p>
    </section>
    <section>
        <h2>- <a href="https://github.com/nicey0/spiderbook2">spiderbook2</a></h2>
        <p>Shitty website "made" in Flask (PG16+)</p>
    </section>
</main>
{% endblock body %}
