{% extends 'base.html' %}

{% block header %}projects{% endblock header %}

{% block body %}
    <section class="st">
        <h2><a href="https://github.com/nicey0/website">This website</a></h2>
        <p>Little website I made for no real reason</p>
    </section>
    <section class="st">
        <h2><a href="https://github.com/nicey0/ConwaysGameOfLife">ConwaysGameOfLife</a></h2>
        <p>Conway's Game Of Life implementation made in Python+Pillow</p>
    </section>
    <section class="st">
        <h2><a href="https://github.com/nicey0/simple-vi-clone">simple-vi-clone</a></h2>
        <p>Simple Vi clone made in Python+ncurses</p>
    </section>
    <section class="st">
        <h2><a href="https://github.com/nicey0/spiderbook">spiderbook</a></h2>
        <p>Shitty website "made" in Flask (PG18+)</p>
    </section>
    <section class="st">
        <h2><a href="https://github.com/nicey0/spiderbook2">spiderbook2</a></h2>
        <p>Shitty website "made" in Flask (PG16+)</p>
    </section>
    <section class="st">
        <h2><a href="https://github.com/nicey0/tui-snake">tui-snake</a></h2>
        <p>Snake clone made in Python+ncurses</p>
    </section>
    <section class="st">
        <h2><a href="https://github.com/nicey0/tui-tetris">tui-tetris</a></h2>
        <p>Tetris clone made in Python+ncurses [UNFINISHED]</p>
    </section>
    <section class="st">
        <h2><a href="https://github.com/nicey0/wireworld">Wireworld</a></h2>
        <p>Wireworld implementation in made Python+Pillow</p>
    </section>
{% endblock body %}
