<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nicey's website</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block links %}{% endblock links %}
</head>
<body>
    <header>
        <nav>
            <header>
                <img id="logo" src="{{ url_for('static', filename='nicey.png') }}" alt="<nicey>">
                <h1>nicey's {% block header %}{% endblock header %}</h1>
                <a id="right" href="https://github.com/nicey0">
                    <img src="{{ url_for('static', filename='github.png') }}" alt="<github link>">
                </a>
                <a id="nxfury" href="https://discord.gg/yEmqfBc">
                    <img src="{{ url_for('static', filename='nxfury.png') }}" alt="<nxfury invite>">
                </a>
            </header>
            <ul>
                <li><a href="{{ url_for('main.posts') }}">posts</a></li>
                <li><a href="{{ url_for('main.projects') }}">projects</a></li>
                <li><a href="{{ url_for('main.about') }}">about</a></li>
                <li><a href="{{ url_for('main.contact') }}">contact</a></li>
                {% if not g.nicey %}
                    <li class="right"><a href="{{ url_for('auth.login') }}">login</a></li>
                {% else %}
                    <li class="right"><a href="{{ url_for('auth.logout') }}">logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block body %}{% endblock body %}
</body>
{% block scripts %}{% endblock scripts %}
</html>
