:root {
    --main: #1b1b1c;
    --white: #666666;
    --text: #dddddd;
}

* {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Fira Mono', monospace;
    box-sizing: border-box;
}

html, body {
    padding-bottom: 1rem;
    background-color: var(--main);
}

h2 {
    font-size: 1.75rem;
}

p {
    max-width: 60rem;
    font-size: 1.35rem;
}

button {
    cursor: pointer;
}

input, textarea, button {
    padding: 0.5rem;
    border: 0;
    background-color: #2a2a2a;
}

/* HEADER */
body > header {
    margin-left: 2rem;
}

header > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 0.3rem;
}

header > header img {
    max-height: 3.6rem;
    margin-left: 0.25rem;
    margin-right: 1rem;
}

body > header h1 {
    display: inline;
    font-size: 3rem;
    /*margin-top: 1.5rem;*/
    /*margin-bottom: 0.3rem;*/
}

/* NAVBAR */
nav {
    max-width: 45rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--white);
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    width: 100%;
}

nav li {
    margin-left: 1rem;
    display: inline;
    font-size: 1.15rem;
}

nav li.right {
    margin-left: auto;
    margin-right: 1rem;
}

/* MAIN */
main {
    margin: 0 4rem;
}

/* NEW POST */
.new-post {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    border: 1px solid var(--white);
    margin-bottom: 3rem;
}

.new-post label {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.new-post textarea {
    resize: vertical;
}

.new-post button {
    margin-top: 1rem;
}

/* POSTS */
.post {
    border: 1px solid var(--white);
    margin: 0 0 1.5rem 0;
    display: inline-flex;
    flex-direction: column;
    min-width: 30rem;
    max-width: 80rem;
}

.post h2 {
    border: 1px solid var(--white);
    border-top: 0;
    padding: 0.4rem 0.75rem;
    margin: 0 1rem;
    margin-bottom: 0.75rem;
    word-break: break-word;
}

.post p {
    margin: 0 1rem;
    word-break: break-word;
    max-width: 77rem;
}
.post section {
    margin: 1rem 0 0.25rem 0;
    padding: 0 0.5rem;
    display: flex;
    width: 100%;
}

.post section div {
    color: #888888;
    margin-left: auto;
}

.delete button {
    color: #fc2d2d;
    border: 0;
    background-color: var(--main);
}

/* FLASH */
.flash {
    padding: 0.5rem;
    background-color: #551111;
}

/* STATIC TEXT */
.st p {
    margin-left: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}
