:root {
    --head-left: 1.5rem;
}

* {
    font-size: 1em;
    margin: 0;
    color: white;
    font-family: 'Fira Mono', monospace;
}

html, body {
    margin: 0;
    padding-bottom: 1rem;
    background-color: #333333;
}

nav {
    display: grid;
    grid-template-columns: 1rem auto;
    grid-template-rows: 4rem 3rem;
    align-items: center;
    /*justify-content: stretch;*/
    grid-template-areas:
        "header header"
        "nav nav";
}

nav header {
    grid-area: header;
    align-self: stretch;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    font-size: 2.5rem;
    background-color: #444444;
}

nav header h1 {
    margin-left: var(--head-left);
}

nav ul {
    grid-area: nav;
    align-self: stretch;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    font-size: 1.5rem;
    background-color: #555555;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: var(--head-left);
}

main {
    padding: 0 0.5rem;
}

main section h2 {
    font-size: 1.6rem;
    margin: 1.4rem 0;
}

main section p {
    font-size: 1.2rem;
    margin: 0 2.5rem;
    max-width: 45rem;
    word-wrap: break-word;
}

main form {
    font-size: 1.2rem;
    border: 1px solid #555555;
    padding: 1rem 6rem 1rem 1rem;
    display: inline-block;
}

main form input, main form button, main form textarea {
    border: 1px solid #444444;
    padding: 0.25rem;
    background-color: #1a1a1a;
    display: block;
}

main form button {
    display: block;
    padding: 0.5rem 2rem;
}

main .login {
    margin: 1rem 0 0 1rem;
}

main .add-post {
    margin-left: 1rem;
}

main .add-post h2 {
    margin-bottom: 0.25rem;
}

main .add-post input, main .add-post textarea {
    margin-bottom: 0.5rem;
}

article {
    border: 1px solid #555555;
    padding: 1rem 1rem 1rem 1rem;
    display: inline-block;
}

.posts h2 {
    font-size: 1.25rem;
    margin: 2rem 0 0.25rem 1rem;
}

.posts article h2 {
    margin: 0;
    margin-bottom: 0.5rem;
}

.posts article {
    margin: 0;
    margin-left: 1rem;
}

.posts article p {
    margin: 0;
}

.smol {
    border: 0;
    margin: 0;
    padding: 0;
    display: inline;
}

.flash {
    background-color: #551111;
    padding: 1rem;
}
