* {
    margin: 0;
    color: white;
    font-family: 'Fira Mono', monospace;
}

html, body {
    margin: 0;
    padding-bottom: 1rem;
    background-color: #333333;
}

.flash {
    background-color: #551111;
    padding: 1rem;
}
