:root {
    --main: #1b1b1c;
    --nav: #d6d8d8;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Fira Mono', monospace;
}

html, body {
    padding-bottom: 1rem;
    background-color: var(--main);
}

/* NAVBAR */

nav {
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--nav);
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    width: 100%;
}

nav li {
    margin-left: 1rem;
    display: inline;
}

nav li.right {
    margin-left: auto;
    margin-right: 1rem;
}

.flash {
    padding: 1rem;
    background-color: #551111;
}
